.blog{
  background-color: #a3d0e040;
  .main-topics{
      h2{
          position: sticky;
          top: 8rem;
          background-color: rgb(150 191 205 / 90%);
          z-index: 1;
      }
  }
  .card{
      transition: all .6s ease-in-out;
      &:hover{
          transition: all .6s ease-in-out;
          transform: translateY(-5px);
          background-color: rgb(228, 228, 228);
          box-shadow: 0 0 5px #fff;
      }
  }
}