.brands{
  background-color: rgba(165 209 225 / 65%);
  .box{
      padding: 5px;
      overflow: hidden;
      position: relative;
      transition: all .6s ease-in-out;
      &::before{
          content: attr(data-work);
          position: absolute;
          display: flex;
          justify-content: center;
          background-color: rgb(38 109 132 / 50%);
          align-items: center;
          height: calc(50% - 10px);
          width: calc(100% - 10px);
          color: #fff;
          font-weight: bold;
          font-size: 1.5rem;
          transition: all .6s ease-in-out;
          transform: translateX(calc(-100%));
          border-radius: .375rem !important;
      }
      &:hover:before{transform: translateX(0);}
      button{
          img{width: 230px;}
          &:hover{
              transition: all .6s ease-in-out;
              img{box-shadow: 0 0 3px #0d5e8a;}
          }
      }
      .offcanvas{
          .offcanvas-header{
              background-color: #266d84;
              h5{
                  color: #fff;
              }
              .btn-close{
                  background-color: #fff;
              }
          }
          .offcanvas-body{
              background-color: rgba(38 109 132 / 50%);
              .con{
                  .card{
                      background-color: rgba(38 109 132 / 60%);
                      box-shadow: 0 0 5px #fff !important;
                      border: none !important;
                      .card-body{
                          .card-body-options{
                              .fa-star, .fa-star-half-stroke{
                                  color: #084298;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
  .switch{
      flex-wrap: wrap;
      li{
          cursor: pointer;
          margin-top: .5rem;
          &:hover{
              background-color: #fff !important;
          }
      }
  }
}