.footer{
  background-color: rgb(0 0 0 / 80%);
  .links{
      ul{
          li{
              position: relative;
              cursor: pointer;
              &:before{
                  content: "";
                  position: absolute;
                  height: 50%;
                  width: 2px;
                  background-color: #02b9b2;
                  transform: translateY(50%);
                  right: -8px;
              }
              &:hover a{
                  border-radius: 0.375rem;
                  transition: right 0.3s ease-in-out;
                  background-color: #16617a;
                  padding: 0.2rem 0.3rem;
                  color: #e6e6e6 !important;
              }
              &:hover:before{ background-color: #008000; }
          }
      }
  }
}