header{
  background-color: rgb(255 255 255);
  box-shadow: 0 0 10px #000;
  &::before{
      content: "";
      background-image: linear-gradient(rgb(13 92 117 / 0%),rgb(13 92 117 / 50%)),url(../img/hero-img.webp);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
  }
  a,
  a i{color: #fff !important;}
  .social-icons{
      z-index: 111;
      bottom: 4rem;
      a{cursor: pointer;}
  }
  nav{
      background-color: rgb(13 92 117 / 95%);
      box-shadow: 0 0 10px;
      .topNav{
          form{
              input {
                  width: 0px;
                  height: 0px;
                  border: 4px solid #ffffff;
                  border-radius: 0;
                  background: none;
                  color: #fff;
                  outline: 0;
                  transition: width 0.4s ease-in-out,border-radius 0.4s ease-in-out,padding 0.2s;
                  transform: translate(-20%,-20%);
                  &.square {
                      width: 150px;
                      height: 35px;
                      border: 2px solid #ffffff !important;
                      border-radius: 0;
                      background: none;
                      color: #fff;
                      outline: 0;
                      transition: width 0.4s ease-in-out,border-radius 0.4s ease-in-out,padding 0.2s;
                      transform: translate(-20%,-20%);
                  }
              }
              .search {
                  right: 0px;
                  background: none;
                  height: 15px;
                  width: 15px;
                  outline: 0;
                  cursor: pointer;
                  transform: translate(-50%,50%);
                  background-color: transparent!important;
                  border: 2px solid #fff!important;
                  top: -6px;
                  &:before {
                      content: "";
                      position: absolute;
                      width: 10px;
                      height: 2px;
                      background-color: #fff;
                      transform: rotate(45deg);
                      transition: 0.2s ease-in-out;
                      right: -10px;
                      bottom: -7px;
                  }
                  &.close {
                      transition: 0.4s ease-in-out;
                      &:before {
                          content: "";
                          position: absolute;
                          width: 10px;
                          height: 2px;
                          margin-top: -1px;
                          margin-left: -13px;
                          background-color: #fff;
                          transform: rotate(45deg);
                          transition: 0.2s ease-in-out;
                      }
                  }
              }
          }
      }
      .mainSections{
          background-color: hsla(0, 0%, 66%, 0.75);
          padding: 5px;
          border-radius: 5px;
          li{
              width: 100% !important;
              display: flex;
              justify-content: center;
              align-items: center;
              a{
                  width: 100% !important;
                  text-align: center !important;
              }
              ul{
                  a{
                      transition: all .6s ease-in-out;
                      &:hover{
                          padding-right: 0 !important;
                          padding-left: 2rem !important;
                          transition: all .6s ease-in-out;
                      }
                  }
              }
              &:hover{
                  transition: all .8s ease-in-out;
                  a.notdrop{
                      border-radius: 5px !important;
                      background-color: rgb(0 0 0 / 70%);
                      transition: all .6s ease-in-out;
                  }
              }
              &.nav-item {
                  &.dropdown{
                      display: flex;
                      flex-direction: column;
                      .dropdown-menu{
                          .dropdown-item:hover{
                              background-color: rgb(0 0 0 / 70%) !important;
                          }
                      }
                  }
              }
          }
      }
      button {
          background-color: #eee !important;
          box-shadow: 5px 5px 15px #000 !important;
      }
  }
  .headCar{
      .page-index{
          p{
              z-index: 3;
              svg{
                  animation: carCaptionArr 1s linear infinite;
                @keyframes carCaptionArr {
                    0%{transform: translateY(0px);}
                    10%{transform: translateY(-2px);}
                    20%{transform: translateY(-4px);}
                    30%{transform: translateY(-6px);}
                    40%{transform: translateY(-8px);}
                    50%{transform: translateY(-10px);}
                    60%{transform: translateY(-8px);}
                    70%{transform: translateY(-6px);}
                    80%{transform: translateY(-4px);}
                    90%{transform: translateY(-2px);}
                    100%{transform: translateY(0px);}
                }
            }
        }
      }
      .carousel-item{
        flex-direction: column;
        h5{
            margin: 1rem !important;
        }
        .carCaption{
            margin-left: .5rem !important;
          }
        }
      }
    }