.headCar{background-color:#5b9aaf}
.carItem{flex-direction: column;}
.carCaption{margin-left: .5rem !important;}
.mainHead{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(128 166 178 / 50%);
  border-radius: 0.375rem;
  padding: 0.3rem 0.7rem;
}
.content p{color: #2a2a2a;}
.logos svg{
  color: #e1f0f5 !important;
  margin-left: 10px;
  font-size: 2rem;
}
.logos svg:hover{filter: drop-shadow(0 0 2px #e1f0f5);}
.img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -10%);
}
.circleEffect {
  position: absolute;
  top: 30px;
  left: 35px;
  width: 350px;
  height: 350px;
  background-color: #19647c;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .circleEffect {
    width: 280px;
    height: 280px;
    left: 70px;
  }
}
.effect1{
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topDown 3s ease-in-out infinite;
}
.effect1 div {
  background-color: #19647c;
  width: 3.2px;
  height: 3.2px;
  margin: 0 3px 8px;
}
@keyframes topDown {
  0%,
  100% {transform: translateY(0);}
  50% {transform: translateY(25px);}
}
.spinEffect{
  position: absolute;
  left: 5%;
  bottom: 30%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.effect2 {
  width: 10px;
  height: 10px;
  border: 2px solid #ededed;
  border-radius: 50%;
  background: none;
  animation: scaleToggle 3s ease-in-out infinite;
}
.effect2.nd{animation-delay: .5s;}
.effect2.rd{animation-delay: 1s;}
@media (max-width: 895px) {
  .spinEffect{bottom: 38%;}
}
@keyframes scaleToggle {
  0%,
  100% {transform: scale(1);}
  50% {transform: scale(1.6);}
}
