.mainSections{
  background-color: #a3d0e040;
    .subSection{
        margin-bottom: 2.5rem;
        h2{
            position: sticky;
            top: 8rem;
            background-color: rgb(150 191 205 / 90%);
        }
        .category{
            .switch{
                flex-wrap: wrap;
                li{
                    cursor: pointer;
                    margin-top: .5rem;
                    &:hover{
                        background-color: #fff !important;
                    }
                }
            }
            .gall {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: auto;
                .gallBoxy{
                    text-align: center;
                    border: 1px solid #fff;
                    border-radius: 0.375rem;
                    padding: 15px 25px;
                    margin: 10px 5px;
                    transition: all .6s ease-in-out;
                    &:hover{
                        transition: all .6s ease-in-out;
                        background-color: rgb(228, 228, 228);
                        box-shadow: 0 0 5px #fff;
                    }
                    img {
                        margin-bottom: 20px;
                        transition: 0.3s;
                        border-radius: 0.375rem !important;
                    }
                }
            }
        }
    }
}