.services{
  background-color: #a3d0e040;
    .targets{
        h2{
            position: sticky;
            top: 8rem;
            background-color: rgb(150 191 205 / 90%);
        }
        .services-two{
            form{
                border: 1px solid brown;
                border-radius: 0.375rem;
            }
        }
    }
}