*{
    text-decoration: none !important;
    list-style: none;
}

input,
select,
textarea{background-color: #ecf5f8 !important;}

.txt-rotate{
    box-shadow: 0 0 3px #1d6a81;
    background-color: rgb(40 108 130 / 50%);
    width: fit-content;
    border: 1px solid #1d6a81;
    padding: .25rem .5rem;
    border-radius: 0.375rem;
}

/* start nav bullets */
.nav-bullets{
    transform: translateY(-30%);
    width: 40px;
    z-index: 3;
    .bullet{
        width: 20px;
        height: 20px;
        border: 3px solid #19687f;
        cursor: pointer;
        .toolTip{
            background-color: #19687f;
            width: 155px;
            color: #fff;
            right: 30px;
            top: -6px;
            cursor: default;
            pointer-events: none;
            font-weight: 500;
            background-color: rgba(25 104 127 / 90%);
            &::before{
                content: '';
                position: absolute;
                border: 10px solid;
                border-color: transparent transparent transparent #19687f;
                right: -21px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &:hover{
            .toolTip{display: block !important;}
        }
    }
}
/* end nav bullets */

.main-title{
    width: 50%;
    div{
        transition: all 0.6s ease-in-out;
        background-color: #e1e1e1;
        border: 1px solid #fff !important;
        &:hover {
            background-color: rgb(228, 228, 228);
            border: 1px solid #0d5e8a !important;
            transition: all 0.6s ease-in-out;
            box-shadow: 0 0 3px #0d5e8a;
            transform: translateY(-10%);
        }
        // &::after{
        //     content: "";
        //     width: 25%;
        //     height: 3px;
        //     background-color: brown;
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     transform: translateX(-1%);
        //     transition: 0.8s;
        // }
        // &:hover::after{
        // }
    }
}

hr.dropdown-divider {
    width: 100%;
    height: 1px;
    background-color: aliceblue;
}

body{background-color: rgb(202, 202, 202);}

.social-icons{
    li{
        position: relative;
        &:before{
            content: attr(title);
            position: absolute;
            left: 30px;
            background-color: rgb(116 158 173 / 80%);
            border-radius: 0.375rem;
            padding: 0 0.3rem;
            width: max-content;
            color: #eafaff;
            display: none;
        }
        &:hover::before{display: block;}
        svg.svg-inline--fa {
            font-size: 1rem;
        }
    }
}

.facebook{background-color: #1877f2;}
.twitter{background-color: #1da1f2;}
.linkedin{background-color: #0a66c2;}
.youtube{background-color: #f00;}

// start line crossed price;
.line-crossed{position: relative;} 
.line-crossed:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #000;
    transform: rotate(76deg);
    left: 50%;
    bottom: -10px;
}
.line-crossed:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #000;
    transform: rotate(-76deg);
    left: 50%;
    bottom: -10px;
}

// start sale price;
.sale-price:before{
    content: "يوجد خصم حاليا";
    position: absolute;
    width: 50px;
    background-color: rgb(8 66 152 / 90%);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2;
    margin: 0 10px;
    right: 0;
}
.sale-price:after{
    content: "";
    position: absolute;
    border: 25px solid;
    border-color: rgb(8 66 152 / 90%) transparent transparent transparent;
    right: 10px;
    top: 115px;
}

// start limited amount;
.limited-amount:before{
    content: "توجد كمية محدودة";
    position: absolute;
    width: 66px;
    background-color: rgb(8 66 152 / 90%);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2;
    margin: 0 10px;
    right: 0;
}
.limited-amount:after{
    content: "";
    position: absolute;
    border: 33px solid;
    border-color: rgb(8 66 152 / 90%) transparent transparent transparent;
    right: 10px;
    top: 115px;
}

// start new product;
.new-product:before{
    content: "منتج جديد";
    position: absolute;
    width: 46px;
    background-color: rgb(8 66 152 / 90%);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2;
    margin: 0 10px;
    right: 0;
}
.new-product:after{
    content: "";
    position: absolute;
    border: 23px solid;
    border-color: rgb(8 66 152 / 90%) transparent transparent transparent;
    right: 10px;
    top: 77px;
}

.offcanvas{
    ::-webkit-scrollbar {
        width: 15px;
        position: relative;
        right: 0 !important;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #eafaff; 
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #004e68; 
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover { background: #266d84; }
}